/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Coloured Icons */
@import url("https://cdn.jsdelivr.net/gh/dheereshagrwal/coloured-icons@1.9.4/src/app/ci.min.css");

:root {
  --main: #332cf2;
  --heading: #203857;
  --alert-heading: #333;
  --error: #e94a84;
  --error-badge: #df80ff1c;
  --scrollbar-background: rgb(3 102 214 / 30%);
  --gray-hover: #f5f5f581;
  --main-hover-box-shadow: rgb(3 102 214 / 30%) 0 0 0 3px;
  --sec-box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
  --header-box-shadow: rgb(0 0 0 / 5%) 0 0px 14px 0, rgb(0 0 0 / 8%) 0 0 0 1px;
  --selection: rgb(50 151 211 / 10%);
  --feature: rgb(49 49 49);
  --feature-background: #F5F5F5;
  --line: rgb(27 27 27 / 13.7%);
  --body-background: #cccccc04;
  --primary-font: ubuntu, sans-serif;
  --secondary-font: mukta, sans-serif;
  --code-font: 'JetBrains mono', monospace;
}

* {
  scrollbar-color: var(--scrollbar-background) transparent;
  scrollbar-width: thin;
}

p, summary, details, li, .homepage, .alert {
  font-weight: 300;
}

.menu-break {
  height: 100px;
}

a {
  text-underline-offset: 2px;

  &:visited {
    color: var(--main);
  }
}

html::after {
  content: '';
  width: 100%;
  height: 18vh;
  background: linear-gradient(180deg, rgb(3 150 228 / 10%), white);
  background-color: rgb(0 0 0 / 0%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: linear-gradient(rgb(3 150 228 / 10%), white);
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
}

body {
  font-family: var(--secondary-font);
  padding: 0 6%;
  background-color: var(--body-background);
}

h1 {
  color: var(--heading);
  font-family: var(--primary-font);
}

.error-not-found h1 {
  font-weight: 300;
  font-size: 10vh;
}

.feature > h1 {
  user-select: none;
}

.feature .browsers h1 {
  user-select: none;
  pointer-events: none;
}

.homepage h1:first-of-type:not(dialog h1) {
  font-size: 3.5rem;
}

code {
  font-family: var(--code-font);
  font-weight: 500;
  font-size: 14px;
}

details {
  padding: 0.5em 0.5em 0;
  box-shadow: var(--sec-box-shadow);
  border-radius: 4px;
  transition: all 0.1s;
}

summary {
  font-family: var(--primary-font);
  cursor: pointer;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  list-style-type: none;

  &::before {
    color: var(--heading);
    content: "\F231";
    font-family: bootstrap-icons;
    margin-right: 3px;
    display: inline-block;
    vertical-align: text-bottom;
    transition: transform 0.3s ease;
    position: relative;
  }

  &:hover {
    background-color: var(--feature-background);
  }
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  margin-bottom: 0.5em;

  &::before {
    transform: rotate(90deg);
  }
}

.error-not-found {
  text-align: center;
}

.error-not-found h2 {
  font-weight: 500;
}

.error-not-found code {
  color: var(--error);
  background-color: var(--error-badge);
  padding: 5px;
  padding-bottom: 5px;
  border-radius: 5px;

  &::before { 
    content: '\F627';
    font-family: bootstrap-icons;
    vertical-align: 0;
    font-size: 0.75em;
  }
}

.tutorial h2 {
  font-family: var(--primary-font);
}

.menu-content {
  font-family: var(--primary-font);
  font-size: medium;
  text-align: center;
}

.menu-content .logo-wrapper p.logo {
  transform: translateY(2px);
} 

header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  padding: 0 6%;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: rgb(255 255 255 / 98%);
  box-shadow: var(--header-box-shadow);

  &::before {   
    position: absolute;
    inset: -3px;
    z-index: -1; 
    filter: blur(3px);
  }
}

.logo {
  color: var(--feature);
  font-weight: 400;
}

.logo-wrapper, header {
  align-items: center;
  display: flex;
}

.logo-wrapper {
  font-family: var(--primary-font);
}

.logo-wrapper img {
  margin-right: 1em;
  pointer-events: none;
}

header .buttons-wrapper {
  align-items: center;
  display: flex;
  margin-left: auto;
}

a.no-underline {
  color: rgb(0 0 0 / 84.9%);
  text-decoration: none;
}

.alert a {
  color: var(--main);
  cursor: pointer;
}

.browsers a {
  color: rgb(0 0 0 / 85.5%) !important;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 15px;
  box-shadow: var(--sec-box-shadow);
  border-radius: 5px;
  user-select: none;
  transform: translateY(0);
  transition: all 0.3s, transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
}

p a:visited {
  color: var(--main);
}

.browsers a:hover {
  background-color: var(--gray-hover);
  transition: all 0.3s;
  transform: translateY(-2px);
}

header .logo-wrapper img {
  height: 30px;
  width: 30px;
}

.download-button {
  color: white;
  font-family: var(--primary-font);
  background-color: var(--main);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 10px 25px;
  box-shadow: none;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: 0;
  user-select: none;
  transform: translateY(0);
  transition: all 0.3s, transform 150ms, box-shadow 150ms;
  touch-action: manipulation;

  &:hover {
    transform: translateY(-2px);
  }
}

.menu-links-break {
  width: 20px;
}

.menu-buttons-break {
  width: 10px;
}

@media (width >= 768px) {
  .download-button {
    padding: 10px 30px;
  }
}

.normal-button-button {
  color: #fff;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--main);
  text-align: center;
  cursor: pointer;
  padding: 10px 25px;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 10%) 0 2px 4px 0;
  border: 2px solid var(--main);
  border-radius: 4px;
  outline: none;
  outline: 0;
  user-select: none;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;

  &:hover {
    box-shadow: rgb(0 0 0 / 15%) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}

@media (width >= 768px) {
  .normal-button {
    padding: 10px 30px;
  }
}

.secondary-button {
  color: black;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 10px 25px;
  background-color: transparent;
  box-shadow: var(--sec-box-shadow);
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: 0;
  user-select: none;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;

  &:hover {   
    background-color: var(--gray-hover);
    transform: translateY(-2px);
  }
}

.end-align {
  text-align: end;
}

#clippy h1 {
  font-size: 1.5rem;
}

#clippy .secondary-button {
  color: black;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 25px;
  box-shadow: var(--sec-box-shadow);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  user-select: none;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;

  &:hover {
    background-color: var(--gray-hover);
    transform: translateY(-2px);
  }
}

button[onclick="clippy()"] {
  font-size: 0.7rem;
  user-select: none;
  margin-right: -5px;
  transform: rotate(-5deg); 
}

.suggestion-link {
  color: var(--main);
  font-family: var(--primary-font);
  text-decoration: none;
  padding: 4px 6px;
  border: 2px solid var(--main);
  border-radius: 4px;
  user-select: none;
  transform: translateY(0);
  transition: all 0.3s, transform 150ms, box-shadow 150ms;

  &:hover { 
    text-decoration: none;
    box-shadow: var(--main-hover-box-shadow);
    transform: translateY(-2px);
  }
}

.demo {
  color: #fff;
  font-family: var(--primary-font);
  font-size: 100%;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  appearance: auto;
  backface-visibility: hidden;
  background-color: var(--main);
  padding: 0;
  box-shadow: rgb(50 50 93 / 10%) 0 0 0 1px inset,rgb(50 50 93 / 10%) 0 2px 5px 0,rgb(0 0 0 / 7%) 0 1px 1px 0;
  box-sizing: border-box;
  border-radius: 6px;
  border-width: 0;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  position: relative;
  user-select: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow .08s ease-in;
  touch-action: manipulation;
  width: 100%;

  &:disabled {
    cursor: default;
  }

  &:focus {
    box-shadow: rgb(50 50 93 / 10%) 0 0 0 1px inset, rgb(50 50 93 / 20%) 0 6px 15px 0, rgb(0 0 0 / 10%) 0 2px 2px 0, rgb(50 151 211 / 30%) 0 0 0 4px;
  }
}

.github-link {
  color: #151B23 !important;
  font-family: var(--primary-font);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  user-select: none;

  &:hover {
    text-decoration: none;
    transition: all 0.3s;
  }
}

.no-desktop {
  display: none;
}

@media (width >= 768px) {
  .secondary-button {
    padding: 10px 30px;
  }
}

@media (width <= 1000px) {
  .menu-content .secondary-button .download-button-button {
      display: none;
  }

  .error-not-found .secondary-button {
    display: block;
    margin: 0 auto;
  }
}

@media (width <= 500px) {
  .secondary-button, .feature-demo, .no-mb, .no-desktop {
    display: none;
  }

  .tutorial .secondary-button {
    display: block;
  }

  .feature {
    width: 100%;
    text-align: center;
  }

  body {
    font-size: 1.2rem;
  }
}

@media (width <= 800px) {
  .buttons-wrapper .menu-link, .buttons-wrapper .download-button, .buttons-wrapper .secondary-button {
    display: none;
  }

  .no-desktop, .buttons-wrapper .menu-link:nth-last-of-type(1) {
    display: block;
  }

  body {
    padding-left: 5px;
    padding-right: 5px;
  }

  i[class="bi bi-download"] {
    display: none;
  }
}

::selection {
  background-color: var(--selection);
}

::moz-selection {
  background-color: var(--selection);
}

.feature {
  color: var(--feature);
  padding: 20px;
  box-shadow: var(--sec-box-shadow);
  border-radius: 10px;
  width: 300px;
}

strong {
  font-weight: 500;
}

.feature strong {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 4vh;
}

.menu-link {
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  user-select: none;
  touch-action: manipulation;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  background-color: transparent;
  outline: none;

  &:hover {
    transform: translateY(-2px);
  }
}

hr {
  border: 1px solid var(--line);
}

.alert {
  color: var(--alert-heading);
  padding: 10px;
  box-shadow: rgb(3 102 214 / 30%) 0 0 0 3px;
  border: 2px solid var(--main);
  border-radius: 0.375rem;
  box-sizing: border-box;
  position: relative;
}

.alert strong {
  font-family: var(--primary-font);
  font-weight: 100;
}

.ver {
  padding: 20px;
  outline: 1px solid transparent;
  box-shadow: var(--sec-box-shadow);
  border: 2px solid transparent;
  border-radius: 10px;
  width: 300px;
  transition: all 0.5s;
}

.ver h2 {
  font-family: var(--primary-font);
  font-weight: 700;
}

.ver .date {
  color: var(--alert-heading);
}

.ver ul {
  font-family: var(--secondary-font);
  margin-left: -20px;
}

.badge {
  color: var(--alert-heading);
  font-weight: 200;
  font-size: 1rem;
  background-color: var(--feature-background);
  padding: 2px 4px;
  box-shadow: var(--sec-box-shadow);
  border-radius: 3px;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.grid .feature {
 display: block;
}

@media (width <= 900px) {
  .grid {
    flex: none;
  }

  .grid .feature {
    width: auto;
  }
}

@media (width >= 1345px) {
  .grid {
    display: flex;
    gap: 20px;
    text-align: center;
   }

   .flex {
    display: flex;
    gap: 20px;
   }

  #clippy {
    background-color: white;
    box-shadow: var(--sec-box-shadow);
    border-radius: 5px;
    user-select: none;
    margin-top: 200px;
    position: fixed;
    scroll-behavior: smooth;
    width: 30%;
  }
}

@media (width >= 1000px) {
  #clippy {
    width: 20%;
  }
}

@media (width >= 500px) {
  #clippy {
    background-color: white;
    box-shadow: var(--sec-box-shadow);
    margin-top: 100px;
    position: fixed;
    user-select: none;
  }

  .emoji {
    font-size: 2rem;
    text-align: center;
    user-select: none;
  }
}

@media (width <= 500px) {
  #clippy {
    background-color: white;
    box-shadow: var(--sec-box-shadow);
    user-select: none;
    margin-top: 100px;
    position: fixed;
    width: 100%;
  }

  #clippy .secondary-button {
    display: block;
  }

  .emoji {
    font-size: 2rem;
    text-align: center;
    user-select: none;
  }

  .ver {
    width: auto;
  }
}

@media (width <= 700px) {
  .grid.browsers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .grid.browsers a {
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (width <= 600px) {
  .secondary-button {
    width: 100%;
  }
}

@media (width <= 800px) {
  .secondary-button[onclick*="demo"] {
    display: none;
  }

  .feature strong {
    font-size: 3vh;
  }

  .ver h2 {
    font-size: 1.5rem;
  }

  .github-link {
    font-size: 1.1rem;
  }
}
